section {
	background: #fff url('../images/white_background.jpg') top right;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 100px 0;

	.container {
		max-width: 900px;
		margin: 0 auto;
		padding: 0 20px;
	}

	h2 {
		display: block;
		text-align: center;
		font-family: $headerFont;
		color: $themeColor;
		font-size: 48px;
		font-weight: normal;
		margin: 0 0 48px;

		&:after {
			display: block;
			content: '';
			width: 36px;
			height: 2px;
			background: $themeColor;
			margin: 0 auto 56px;
		}
	}

	.content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 36px;

		&.single-column {
			grid-template-columns: 1fr;
			max-width: 680px;
			margin: 0 auto;
		}

		img {
			width: 100%;
			border-radius: 8px;
		}

		p {
			color: #333;
			text-indent: 36px;
			font-size: 20px;
			margin: 0;
		}
	}

	&.alt {
		background: url('../images/black_background.jpg') no-repeat center center;
		background-size: cover;

		.content {
			p {
				color: white;
			}
		}
	}

	@media screen and (max-width: 760px) {
		.content {
			display: block;

			p {
				margin-top: 36px;
			}

			#profile-pic {
				max-width: 200px;
				float: left;
				margin-right: 24px;
			}
		}

		&.alt {
			.content {
				p {
					margin-bottom: 36px;
				}
			}
		}
	}

	@media screen and (max-width: 500px) {
		padding: 80px 0;

		h2 {
			margin: 0 0 36px;

			&:after {
				margin: 0 auto;
			}
		}

		.content {
			p {
				font-size: 16px;
				line-height: 1.8;
			}

			#profile-pic {
				display: block;
				float: none;
				margin: 0 auto;
			}
		}
	}
}

#contact {
	text-align: center;
	padding-bottom: 160px;

	.content p {
		text-indent: 0;
	}
}
