@import "./variables";
@import "./typography";
@import "./sanitize";
@import "./logo";
@import "./navbar";
@import "./home";
@import "./section";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
	font-family: $textFont;
}

ul {
	margin: 0;
}
