{{ define "main" }}
<section id="home">
	<h1>Anna Chowattanakul</h1>
	<p>PIANIST / COMPOSER / TEACHER</p>
</section>
<section id="about">
	<div class="container">
		<h2>About Me</h2>
		<div class="content">
			<img src="/images/anna.jpg" alt="Anna Picture">
			<p>Anna is a versatile pianist, explorer and improviser. When she is not playing classical music, she spends her time jazzing up, exploring different harmonies, and finding beautiful melodies. Earlier in her career, she studied classical piano with Tina Yanchus, a Julliard alumni at Western University. There she found her passion for jazz and continued her study at Mohawk College under Adrean Farrugia, a Juno nominated pianist. In 2019, she received a Masters Degree for Jazz Performance at Bowling Green State University in USA, where she further developed her jazz skills under the guidance of Ariel Kasler, a talented Berklee College of Music alumni.</p>
		</div>
	</div>
</section>
{{ end }}
